{{> navbar}}
<div class="container mt-3">
  <h3>Ups, no encontramos lo que buscabas :(</h3>
  <img src="https://www.enter.co/wp-content/uploads/2017/01/HomeroFINAL-768x428.jpg" alt="homero">
  {{> backhome}}
</div>