{{> navbar}}
<div class="container mt-3">
  <div class="d-flex align-items-center gap-3">
    <img
      class="img-thumbnail"
      src="/img/catdisc.jpg"
      alt="Catalogo"
      width="250"
    >
    <div>
      <h2>Catalogo Musical</h2>
      <p>
        Creacion de una base de datos para almacenar informacion de cada disco ingresando el Artista, el nombre del album y la fecha de publicacion
      </p>
    </div>
  </div>
  {{> backhome}}
</div>