{{> navbar}}
<div class="container mt-3">
  <header class="my-5">
    <h1>Catalogo de Musica</h1>
    <p>
      Registro discos para creacion de su catalogo de musica
    </p>
    <a href="/about">Acerca del Catalogo</a>
  </header>
  <hr>
  <h3 class="mt-5 mb-3">Listado de discos</h3>
  {{#each catalog}}
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">Artista: {{this.artist}}</h5>
        <p class="card-text">Album: {{this.album}}</p>
        <p class="card-text">Año publicacion: {{this.year_album}}</p>
        <a href="/catalog/{{this.id}}" class="btn btn-primary btn-sm">Opciones</a>
      </div>
    </div>
  {{/each}}
</div>